@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes float-blob-1 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(35px, -50px) scale(1.2);
  }
  66% {
    transform: translate(-25px, 35px) scale(0.85);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float-blob-2 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  50% {
    transform: translate(-55px, 50px) scale(1.25);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes float-blob-3 {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(-40px, -40px) scale(0.8);
  }
  66% {
    transform: translate(50px, 35px) scale(1.2);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob-1 {
  animation: float-blob-1 6s infinite ease-in-out;
}

.animate-blob-2 {
  animation: float-blob-2 8s infinite ease-in-out;
}

.animate-blob-3 {
  animation: float-blob-3 10s infinite ease-in-out;
}
